* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #31363F;
  --light-blk-color: #222831;
  --muddy-blue: #6AD4DD;
  --muddy-blue--dark: #76ABAE;
  --light--gray: #EEEEEE;
  --box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  --grad-1: var(--light-blk-color), var(--bg-color);
  --grad-2: var(white), var(white);
}

body {
  color: white;
  background-color: var(--light-blk-color);
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.parent-center {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 3em);
}

.container {
  margin-top: 1em;
  padding: 2em;
  background: linear-gradient(45deg, var(--grad-1));
  font-family: 'Franklin Gothic Medium';
  box-shadow: var(--box-shadow);
  border-radius: 1em;
}

.popupforImage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(130, 78, 78);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  color: var(--light-blk-color);
  background-color: var(--muddy-blue--dark);
  padding: 0.8em 1.8em;
  border: 0px;
  border-radius: 25px;
  cursor: pointer;
  transition: ease .3s;
  float: right;
}

button:hover {
  background-color: var(--muddy-blue);
}

.flex-clm,
.li,
.nvbar {
  color: white;
}

.flex-clm {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.5em 0;
}

.li {
  text-decoration: none;
}

input,
textarea {
  width: 18em;
  padding: 1em;
  border-radius: 0.3em;
  color: var(--light--gray);
  background-color: var(--light-blk-color);
  border: 1px solid var(--muddy-blue--dark);
}

textarea {
  height: 8em;
}

.ask-user {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
}

.bld {
  font-weight: 700;
  border-bottom: 2px solid var(--muddy-blue);
}

/* typography */

p {
  font-family: Calibri;
  line-height: 1.1em;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 3em;
  width: 100%;
  position: fixed;
  background: #00000039;
  backdrop-filter: blur(25px);
  box-shadow: var(--box-shadow);
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.navbar-logo {
  height: 2.5em;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  width: 4em;
  filter: invert();
}

.navbar-profile button {
  border: none;
  cursor: pointer;
}


.profile-menu {
  font-family: 'Franklin Gothic Medium';
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  right: 5%;
  border-radius: 0.5em;
  padding: 1em;
  gap: 0.5em;
  box-shadow: var(--box-shadow);
  background: linear-gradient(45deg, var(--grad-1));
  z-index: 100;
}

.proLi {
  width: 12em;
  display: flex;
  flex-direction: row;
  padding: 0.7em 1em;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s all;
  border-radius: 10px;
  background: var(--bg-color);
  gap: 0.6em;
}

.proLi:hover {
  background: var(--muddy-blue--dark);
}

.logOO {
  background: rgba(255, 0, 0, 0.168);
}

.logOO:hover {
  background: rgba(255, 0, 0, 0.515);
}

.profilepic {
  margin: 1em 0em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  overflow: hidden;
}

.editbtn {
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .2em;
  font-size: 1em;
  background: #dadada;
  transition: 0;
}

.editbtn:hover {
  padding: .2em;
  font-size: 1em;
  color: white;
  background: var(--muddy-blue--dark);
}

.info-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 0;
  border-bottom: 1px solid var(--light--gray);
}

.info-card .right {
  display: flex;
  gap: 0.5em;
  align-items: center;
}



.your-account{
  font-family: 'Franklin Gothic Medium';
}


.your-account input {
  width: 15em;
  height: 0.5em;
}

.user-data {
  width: fit-content;
}

.popup {
  position: fixed;
  width: 30em;
  height: 30em;
  border-radius: 0.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  align-items: center;
}

.getblurry {
  background: #00000039;
  backdrop-filter: blur(25px);
  box-shadow: var(--box-shadow);
  border: 1px solid rgba(255, 255, 255, 0.116);
}

.profileAvatar {
  width: 20em;
  height: 20em;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.14);
  box-shadow: var(--box-shadow);
}

.avatar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  height: 100%;
}

.upload-Image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  font-family: 'Franklin Gothic Medium';

}

.admin-lookup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--light--gray);
  height: 2em;
  align-items: center;
}

/* admin user */

.AdminLayout {
  margin-top: 4em;
  height: calc(100vh - 4em);
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* overflow: hidden; */
}

.AdminLinks {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.AdminOutlets {
  width: calc(100% - 25%);
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}

.user-cont {
  padding: .5em .5em;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
  border-radius: 0.5em;

}

.adminLi {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.7em 1em;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s all;
  border-radius: 10px;
  background: var(--bg-color);
  gap: 0.6em;
  margin-bottom: 0.5em;
}

.adminLi:hover {
  background: var(--muddy-blue--dark);
}

.gugiughi {
  display: flex;
  flex-direction: column;
}

.notInPhone {
  width: 60%;
  height: 5em;
}

.home-card {
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;

}


.Card-01 {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.post-container {
  max-width: 20%;
  min-width: 20em;
  height: 17em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  border: 1px solid var(--light--gray);
  border-radius: 0.5em;
  box-shadow: var(--box-shadow);

}

.post-container .image {
  width: 100%;
  border-radius: 0.3em;
  height: 15em;
  object-fit: cover;
  overflow: hidden;
}

.post-container img {
  width: 100%;
}

.profile-img-sec {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


/* For screens smaller than 768px */
@media screen and (max-width: 768px) {
  .AdminLayout {
    flex-direction: column;
    justify-content: flex-start;
  }

  .post-container {
    max-width: 45%;
    min-width: 15em;
  }

  .AdminLinks {
    width: 100%;
    height: 4em;
  }

  .adminLi {
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
  }

  .adminLi p {
    display: none;
  }

  .gugiughi {
    flex-direction: row;
    gap: 1em;
  }

  .popup {
    width: 75%;
    height: fit-content;

  }

  .AdminOutlets {
    width: 100%;
  }
}

/* For screens smaller than 480px */
@media screen and (max-width: 480px) {

  .notInPhone {
    display: none;
  }

  .navbar-logo img {
    width: 3em;
  }

  .post-container {
    min-width: calc(100% - 0.2em);
  }

  .profile-img-sec {
    display: flex;
    flex-direction: column;
  }

  .popup {
    height: fit-content;
  }

  .profileAvatar {
    width: 18em;
    height: 18em;
  }
}